.min-h-screen{
    min-height: 100vh;
}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
    justify-content: space-around;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.font-bold{
    font-weight: bolder;
    font-size: 1.5rem;
}
.flex-col{
    flex-direction: column;
}
.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}
.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}
.px-2{
    padding-right: 13px;
    padding-left: 13px;
}
.text-blue{
    color: rgb(172, 39, 19);
}
.btn{
    padding: 4px 12px;
    border:2px solid black;
    color:white;
    cursor: pointer;
    border-radius: 12px;
    background-color:rgb(172, 39, 19) ;
}
.overflow-hidden{
    overflow: hidden;
}
.size{
    min-height: 100%;
}
.dumble{
    width: 300px;
    align-self:center;
}
.builder{
    height: 600px;
}
.text-center{
    text-align: center;
}
.section2 h1{
    font-size: 3rem;
}
.box{
    margin: 12px 20px;
    border:2px solid rgb(90, 79, 79);
    margin-bottom: 50px;
    
}
.box h2{
    padding: 20px;
}
.box p{
    padding:8px;
    border: 0.8px solid rgb(34, 28, 28) ;
    border-radius: 8px;
    margin: 20px;
}
.padd{
    padding-top: 20px;
    padding-bottom: 80px;
}
.sign{
    padding: 12px;
    border:2px solid black;
    color:white;
    cursor: pointer;
    border-radius: 12px;
    background-color:rgb(172, 39, 19) ;
    justify-self: center;
    margin-bottom: 20px;
}
.rate{
    margin: 12px;
    font-size: 20px;
    margin-bottom: 20px;
}
.plantable{
 display: flex;
 justify-content: center;
 align-items: center;
}
.section3 table{
    width: 100vw;
    height: 40vh;
    margin: 30px;
    border-collapse: collapse;
}
.section3 h1{
    font-size:3rem;
}
.section3{
    margin: 13px;
    padding: 13px;
    padding-bottom: 100px;
}
.section3 table th{
 width: 40px;

}
.section3 table td{
    width: 40px;
}
.section3 table thead{
    border-bottom: 2px solid black;
}
.footer{
    margin: 26px;
    padding: 26px;
    font-size: 2rem;
    text-align: center;
}